@using DSM.TABLES
@model DSM.DTO.resultDTO
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p>
    <a href="http://localhost:4540/people/branch/Add">Create New</a>
</p>
<table class="table" id="tbl">
    <thead>
        <tr>  
            
            <th>
                Name
            </th>
            <th>
               CreatedDate
            </th>
             <th>
                IsActive
            </th>
            <th>
               Poster
            </th>
           
            <th></th>
             <th></th>
              <th></th>
        </tr>
    </thead>
  
    </table>
    @section Scripts{
        <script>
            let tbl;
            $(document).ready(function () {
        tbl=$("#tbl").DataTable({
        "processing": true,
        "serverSide": true,
        "filter": true,
        "ajax": {
            "url": "http://localhost:4540/people/branch/getDataTable",
            "type": "POST",
            "datatype": "json"
        },
       
        "columns": [
            { "data": "name", "name": "Name", "autoWidth": true },
            { "data": "createdDate", "name": "CreatedDate", "autoWidth": true },
            { "data": "isActive", "name": "IsActive","type":"CheckBox", "autoWidth": true ,
             render: function (data,type,row) {
                          if (data == true) {
                            return `<input onChange="Modify('${row.id}','${row.isActive}')" type="checkbox" checked>`;
                          } else {
                            return `<input onChange="Modify('${row.id}','${row.isActive}')" type="checkbox">`;
                          }
                        return data;
                      }  
                     
            },
            { "data": "poster", "name": "poster", "autoWidth": true },
           

            {
                "render": function (data,type,row) { return `<button   onclick="show('${row.id}')"; >Details</button>`;   }
            },
            {
                 "render": function (data,type,row) { return `<a href='#' class='btn btn-dark' onclick="del('${row.id}')"; >Edit</a>`;   },
            },
            {
                  "render": function (data,type,row) { return `<a href='#' class='btn btn-danger' onclick="del('${row.id}')"; >Delete</a>`;   }
            }
        ]
    });
});  

function show(id){
            
             $.ajax({
                url:'/people/Branch/Details',
                data :{ id:id},
                method:'POST',
                dataType: 'JSON',
                success:function(responce){
                        $('<p>'+ responce.name+'</p>').appendTo('#detials');
                        $('<p>'+ responce.createdDate+'</p>').appendTo('#detials');
                        $('<p>'+ responce.poster+'</p>').appendTo('#detials');
                        }

                    });
        };

            function del(h){
                console.log(h);
               var c=confirm("Are You sure You Want To Delete");
                if(!c)
                {
                return event.preventDefault();
                }
                else{
                     $.ajax({
                     
                    method: 'post',
                    data:{'id':h},
                    url: 'http://localhost:4540/people/Branch/delete/',
                    success:function(res)
                    {
                        if (res.status)
                        {
                            alertify.success(res.message);
                            setTimeout(function(){
                                  window.location.href = "/people/Branch/Index";
                            }, 3000);

                        }
                        else
                        {
                            alertify.error(res.message);
                        }

                    },
                         error: function (res)
                         {
                        alertify.error( res.message);
                    }
                });
               
            }
                }
           

            function Modify(va,r){
              var x;
              if(r=="true"){
                   x=false;
              }
              else {
                  x=true
              }
              console.log(x)
                  $.ajax({
                     
                    method: 'post',
                    data:{'id':va,'d':x},
                    url: 'http://localhost:4540/people/Branch/EditChecked/',
                                      
                    success:function(res)
                    {
                        if (res.status)
                        {
                            alertify.success(res.message);
                            setTimeout(function(){
                                  window.location.href = "http://localhost:4540/people/Branch/Index";
                            }, 3000);

                        }
                        else
                        {
                            alertify.error(res.message);
                        }

                    },
                         error: function (res)
                         {
                        alertify.error( res.message);
                    }

                }); 
            //  }
            }
           
        </script>
    }
 
