@model DSM.DTO.ScreenDTO

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>ScreenDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScreenSize" class="control-label"></label>
                <input asp-for="ScreenSize" class="form-control" />
                <span asp-validation-for="ScreenSize" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @*<input type="radio" class="checkbox style-0" asp-for="IsActive" value=true />*@
                    <input asp-for="IsActive" type="checkbox"  value="false"    
                        onchange="this.value=this.checked" />
                   @* <input class="form-check-input" asp-for="IsActive" /> *@
                    @Html.DisplayNameFor(model => model.IsActive)
                   
                </label>
            </div>
           
            <div class="form-group">
                <input type="button" id="btnSave" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="http://localhost:4540/people/Screen/index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
         $("#btnSave").on('click', function () {
               
                var frmdata = new FormData();
                frmdata.append("Name", $("#Name").val());
                frmdata.append("Code", $("#Code").val());
                frmdata.append("CreatedDate", $("#CreatedDate").val());
                frmdata.append("IsActive", $("#IsActive").val());
                frmdata.append("ScreenSize", $("#ScreenSize").val());
                frmdata.append("Notes", $("#Notes").val());

                $.ajax({
                    method: 'post',
                    data: frmdata,
                    url: 'http://localhost:4540/people/Screen/Add',
                    contentType: false,
                    processData: false,
                    dataType:"Json",
                    success:function(res)
                    {
                        if (res.status)
                        {
                            alertify.success(res.message);
                            setTimeout(function(){
                                  window.location.href = "http://localhost:4540/people/screen/Index";
                            }, 3000);

                        }
                        else
                        {
                            alertify.error(res.message);
                        }

                    },
                         error: function (res)
                         {
                        alertify.error( res.message);
                    }

                });
              

            });
       
    </script>
}
